
  @media  (max-width :56rem){
    .topHead{
        display: none;
    }
     .logo{
        transform: translateY(-90%);
        transition: all 0.45s;
     }
     .navbar{
        position: fixed;
        top: 55px;
        right: 0px;
        left: 0px;    
        transition: all 0.4s;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translatex(100%);
        
    
    }
    
      .navigation-menu-bar{ 
        width: 100%;
        border-radius: 10px;
        flex-direction: column;
        background: white;
        gap: 1.2rem; 
        padding: 5rem 0 ;
    }

    .open-nav .navbar{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translatex(0%);
    }

    .open-nav .btn-icon[name="close-bar"]{
        display: block;
    }
    .open-nav .btn-icon[name="open-bar"]{
        display: none;
    }

    .navigation-menu-bar > li a{
        color: #343a40;
        margin-right: 0;
        font-weight: 400;
        font-size: 1.6rem; 
    }

    .navigation-menu-bar > li{
        padding: 0 3.2em;
    }

    .order{
        margin: 0;
        text-align: center;
    }

    .mobile-nav-button{
        display: block;
    }
 
    .aalukhau{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 4.8em;
        transition: all 0.4s;
        }
    
}  
@media  (max-width: 35rem){

    .aalukhau{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 2.4em ;
        }
    
    
    }

    /* -webkit-transition: height 0.4s ease;
  -moz-transition: height 0.4s ease;
  -o-transition: height 0.4s ease;
  transition: height 0.4s ease; */

